// cremos configuración principal del botton 
@mixin btn-main-base{
    border-radius: 0.25rem;
    padding: 0.25rem 1.5rem;
}
// configuración para boton secundario
@mixin btn-sec-main{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}
// Definimos color del boton principal
$color-btn: #2689FF;
.btn-main{
    @include btn-main-base();
    color: white;
    border: 1px solid $color-btn;
    background-color: $color-btn;
    // Agregamos un hover
    &:hover{
        background-color: white;
        color: $color-btn;
    }
    // agregamos estilo al boton main secundario
    &-s{
        @extend .btn-main;
        @include btn-sec-main();
    }
}
// modificamos los botenes secundarios
.btn-sec{
    @include btn-main-base();
    color: black;
    background-color: white;
    border: none;
    // Cambiamos el hover
    &:hover{
        color: #888282;
    }
    // hacemos el boton secundario-s mas pequeño
    &-s{
        @extend .btn-sec;
        @include btn-sec-main()
    }
}
// Creamos el nav
.main-menu{
    li{
        list-style: none;
        display: inline;
        font-size: 0.9rem;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
// agregamos estilos al icono
.icon-sm{
    padding: 0.4rem 0.65rem;
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
    color: $color-btn;
    border-radius: 50%;
    box-shadow: 0 0 10px #00000055;
}
// Creamos estilo para feature
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i{
        font-size: 6rem;
        color: $color-btn;
    }
    .description{
        font-size: 0.75rem;
        color: rgb(136, 130, 130);
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .gta{
        font-size: 0.75rem;
        color: $color-btn;
        font-weight: 600;
    }
}
// Est6ilamos los icons des
.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon{
        font-size: 6rem;
        color: $color-btn;
    }
    .title{
        margin-top: -1.5rem;
        font-weight: 600;
        font-size: 1.5rem;
    }
}