// importamos components para poder usar el color
@use "components";
body{
    margin: 0;
    padding: 0;
}
// estilamos el navbar
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
    height: 4rem;
    width: 100%;
    
    ul{
        margin-bottom: 0;
        li{
            margin-right: 10px;
        }
    }

    .log img{
        max-width: 7rem;
        &:hover{
            cursor: pointer;
        }
    }

}
// Estilamos la secion home
.sec-home{
    display: flex;
    align-items: center;
    padding: 4rem 6rem;
    width: 100%;
    .home-cta{
        flex: 1;
        .cta-text{
            color: components.$color-btn;
        }
        .home-title{
            width: 20rem;
            font-size: 3rem;
        }
        .home-description{
            width: 300px;
        }
    }
    .home-buttons{
        width: 400px;
    }
}