body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.btn-modern{
    border: none;
    background-color: #047AF3;
    color: rgb(0, 6, 12);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    transition: 0.4s;
}
.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgb(136, 22, 22);
    color: rgb(0, 77, 41);
}